@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


body {
    background: #F1F1F1;
}

.header {
    display: block;
}

.header__nav-box {
    display: flex;
    align-items: center;
    padding: 50px 10px 20px 10px;
    justify-content: space-between;
}

.header__nav-left {
    display: flex;
    max-width: 700px;
    width: 100%;
}

.header__nav-list {
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__nav-icon {
    display: flex;
    gap: 40px;
}


.logo {
    margin-right: 50px;
}

.header__list {
    display: flex;
    gap: 40px;
}

.box__line {
    width: 100%;
    height: 2px;
    background: #323232;
    border-radius: 0.5px;
}


.header__nav-link {
    color: #323232;
}

.main-box {
    background: #E1E1E1;
    border-radius: 10px;
}

.main-box-left {
    width: 526px;
    width: 100%;
    display: flex;
}

.top__cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 526px 1fr;
    gap: 30px;
}

.main__top {
    background: #E1E1E1;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 43px;
    align-items: center;
    padding-top: 73px;
    padding-bottom: 47px;
    position: relative;
}

.main__top::after {
    content: '50%';
    display: block;
    padding: 11px 38px;
    background: #323232;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    top: 16px;
    left: 22px;
}

.item2 {
    grid-row: span 2;
    flex-wrap: wrap;

}


.item3::after {
    content: '20%';
    display: block;
    padding: 11px 38px;
    background: #323232;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-transform: capitalize;
    color: #FFFFFF;
    position: absolute;
    top: 16px;
    left: 22px;
}

/* .text {
    color: #323232;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
} */

.main__top-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #323232;
    margin-bottom: 18px;
}

.main__top-te {
    color: #323232;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


.main__bottom-items {
    border-radius: 10px;
    gap: 43px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 485px;
    align-items: center;
    padding-top: 73px;
    padding-bottom: 47px;
    position: relative;
    row-gap: 40px;
    column-gap: 24px;
    flex-wrap: wrap;

}

.main__bottom-title {
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
    line-height: 37px;
    margin-bottom: 20px;
    margin-top: 60px;
}

.main__bottom_card {
    background: #E1E1E1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding-top: 79px;
    /* padding-bottom: 39px; */
    border-radius: 10px;
    width: 100%;
}

.main__bottom-t{
    margin-bottom: 16px;
}

.main__bottom_card:nth-child(2)::after {
    content: '15%';
}

.main__bottom_card:nth-child(3)::after,
.main__bottom_card:nth-child(9)::after {
    content: '30%';
}

.main__bottom_card:nth-child(4)::after,
.main__bottom_card:nth-child(11)::after {
    content: '10%';
}

.main__bottom_card:nth-child(5)::after,
.main__bottom_card:nth-child(6)::after,
.main__bottom_card:nth-child(10)::after,
.main__bottom_card:nth-child(12)::after {
    display: none;
}

.main__bottom_card:nth-child(7)::after {
    content: '50%';
}

.main__bottom_card:nth-child(8)::after {
    content: '20%';
}

.main__bottom_card:nth-child(10)::after,
.main__bottom_card:nth-child(12)::after {
    display: none;
}

.main__bottom_card::after {
    content: 'NEW';
    display: block;
    padding: 13px 34px;
    background: #323232;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.main__bottom-icon {
    padding: 16px 15px;
    background: #FFFFFF;
    border-radius: 10px;
}

.main__bottom_card_icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 20px;
    right: 19px;
}

.main__bottom-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #323232;
    margin-bottom: 20px;
    margin-top: 20px;
    /*     margin: 20px 0; */
}

.ehe {
    display: flex;
    justify-content: center;
}

.ehe__link {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;

    color: #323232;
    margin-top: 60px;

}

.title {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}





.news__box-item {
    background: url(../image/H.jpg)no-repeat center /cover;
    height: 470px;
    width: 636px;
    margin-top: 40px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding-left: 60px;
    position: relative;
}



.news__box-info {
    width: 460px;

}

.news__box-text {
    color: #E1E1E1;
    margin-top: 30px;
    margin-bottom: 110px;
    color: #C0C0C0;
    font-size: 18px;
    line-height: 1.2;
    font-variant: small-caps;
    height: 100px;
    overflow: auto;
}

.news__box-advice {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #323232;
    background: #FFFFFF;
    padding: 13px 30px;
    border-radius: 8px;
    position: absolute;
    top: 20px;
    left: 20px;

}

.news__box-title {
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-top: 53px;
    margin-bottom: 30px;
}

.main__center-time {
    display: flex;
    gap: 10px;
    /* margin-top: 100px; */

}

/* .main__top-title{
    font-size: 20px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000000;
} */

.time__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #C0C0C0;
}

.items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {
    background: #323232;
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 90px;
    flex-wrap: wrap;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}


.footer__totembo-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;

}

.footer__container-box-link {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 32px;
    line-height: 72%;
    margin-bottom: 50px;
    margin-top: 100px;

}

.footer__totembo-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.footer__tovar-tit {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer__tovar-title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
}

.footer__tovar-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.footer-contact-tit {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.footer-contact-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

.footer-contact-text-ad {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer-contact-coll {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer-sos-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: 2.5px;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 40px;
}

.footer-so-ff {
    gap: 26px;
    display: flex;
}

/* медиа запросы */

@media (max-width:1000px) {

    .header__nav-left,
    .header__nav-box {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .top__cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .main__bottom-items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .item1 {
        width: 100%;
        flex-direction: column;
    }

    .item2 {
        width: 100%;
        flex-direction: column;
    }

    .item3 {
        width: 100%;
        flex-direction: column;
    }

}

@media (max-width:540px) {
    .news__box-item {
        height: 404;
        width: 100%;
    }

    .news__box-text {
        max-width: 300px;
    }

    .news__box-text {
        width: 100%;
    }
    
    .news__box-info{
        width: 100%;
    }
    .item1 {
        width: 100%;
        flex-direction: column;
    }

    .item2 {
        width: 100%;
        flex-direction: column;
    }

    .item3 {
        width: 100%;
        flex-direction: column;
    }
    .main__top-title {
        font-size: 15px;
    }
    
    .header__nav-list {
        flex-wrap: wrap;
        display: flex;
        gap: 10px;
    }
    
}